{% extends 'templates/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <table class="table">
        {% if wallets %}
            <tr>
                <th>Label</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
            {% for wallet in wallets %}
                <tr>
                    <td>{{ wallet.label }}</td>
                    <td>{{ wallet.amount }} </td>
                    <td>
                        <form action="delete_wallet" onsubmit="return confirmDeletion();">
                            {% csrf_token %}

                            <!-- Get wallet id from hidden input -->
                            <input type="hidden" name="id" value="{{ wallet.id }}">

                            <button class="btn btn-danger" type="submit">
                                <i class="fa-solid fa-trash" style="color: #ffffff; cursor:pointer;"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}

        {% if transactions %}
            <tr>
                <th>Type</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Wallet</th>
                <th>Actions</th>
            </tr>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.wallet.label }}</td>
                    <td>
                        <span><i id="trash-icon" class="fa-solid fa-trash" style="color: #ed333b; cursor:pointer;"></i></span>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <script>
        function confirmDeletion() {
            return confirm('Are you sure you want to delete this item?');
        }
    </script>
{% endblock %}
